body {
    height: 100% !important;
    /* fallback for old browsers */
    background: #6a11cb !important;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)) !important;
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)) !important;

    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    max-width: 1680px;
    min-width: 400px;
    height: 100%;
    flex-basis: 100%;
}